/* font-family: 'Open Sans', sans-serif; */

/* common config Group Selector*/

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #d1d9df;
    text-align: center;
    line-height: 1.7;
    color: #2a384c;
    font-size: 1.7rem;
}

a{
    text-decoration: none;

}
img{
    height: auto;
    width: 100%;
}

main #division-2-list ul{
    list-style-type: none;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.upperCase{
    text-transform: uppercase;
}

.lowerCase{
    text-transform: uppercase;
}


/* container */
.container{
    width: 120rem;
    margin: 0 auto;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-bottom: 2rem;
}

/* navbar */

/* <i class="fa-regular fa-house"></i> */
/* <i class="fa-solid fa-user-check"></i> */
/* <i class="fa-regular fa-newspaper"></i> */
/* <i class="fa-regular fa-id-card-clip"></i> */

nav{
    background-color: #2a384c;
    color: #d1d9df;
    padding: 10px 5px 10px 5px ;   
    position: fixed; 
    width: 100%;
    z-index: 1;
    height: 9%;
}

.link{
    color: #d1d9df;
    font-size: 3.4rem;
    
}

#menu{
    float: right;
}

#menu a{
    color: #d1d9df;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: .2rem;
    transition: all .3s;
}

#menu a:hover{
    background-color: #d1d9df ;
    color: #2a384c;
    
    
}
#menu i {
    margin-right: 0.5rem;
}
#menu i:hover {
    color: 33546c ;
}

#menu li{
    display: inline-block;
    margin: 2.5rem 5rem  15rem 0;
}

#logo{
    float: left;
}

#logo-img{
    background-color: #d1d9df;
    width: 15rem;
    height: 10rem;
    padding: 15px;
    border-radius: 50% 50%;
    transition: all .2s;
}
#logo-img:hover{
    box-shadow: 1px 2px 2px 4px #2a384c;
}



/* header */

header{
    height: 80rem;
    /* background-color: red; */
    position: relative;
    
}

header .image-header{
    height: 80rem;
    width: 100%;
    background-image: url(image/logo2.png);
    opacity: 0.6;
    z-index: -1;
    position: absolute;
    background-size: cover;
    background-position: center;
    
}

header h1{
    padding: 45rem 3rem 1rem 3rem;
    color: #2a384c;
    
}



.btn-header{
    color: #f0f0f0;
    background-color: #2a384c;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    transition: all 0.4s;
    margin: 6rem 0;
    padding: 1.7rem 3.4rem;
    border: 1px solid #f0f0f0;
    white-space: nowrap;
    box-shadow: 1px 2px 3px 2px #2a384c;
}

.btn-header:hover{
    background-color: #d1d9df;
    color: #2a384c;
    box-shadow: 1px 2px 3px 6px #2a384c;
}

/* section - 1  */
#division-1-main{
    background-color: #a0b2c2;
    color: #2a384c;
    padding: 4.4rem 0;
}


/* section - 2  */
#division-2-list{
    padding: 2rem;
    width: auto;
    height: auto;
}

#area-div{
    padding: 150px;
    
}

#division-2-list{
    background-color: #a0b2c2;
    color: #2a384c;
}

.area img{
    border-radius: 1.5rem;
    opacity: 0.8;
}

.area .area-div h3{
    text-transform: uppercase;
    font-weight: bold;
}


/* top menu */


#bottom a{
    position: fixed;
    background-color: #2a384c;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    bottom: 0;
    right: 0px;
    width: 160px;
    height: 30px;
    margin-right:25px ;
    margin-bottom: 10px;
    transition: all .4s;
}

#bottom a:hover{
    background-color: #d1d9df;
    color: #2a384c;
    border: 1px solid white;
    box-shadow: 1px 2px 3px 2px #2a384c;
}

/* iletişim */

#form-email{
    width: 100%;
    
    /* height: 25rem; */
}

#form-email h1,p{
    width: auto;
    color: black;
   
    margin-top: 2rem;
    padding-top: 3rem;
}

.form-group-all{
    width: 100%;
    
    height: auto;
}
.form-control{
   width: 40%;
   padding: 2rem;
   border: 2px solid #2a384c;
   box-sizing: border-box;
   border-radius: 0.5rem;
}
.form-control:hover{
   border-color: #f0f0f0;
   
 }

.form-group{
    margin-bottom: .5rem;
}

.btn{
    color: #f0f0f0;
    background-color: #2a384c;
    border:1px solid #a0b2c2 ;
    border-radius: .5rem;
    padding: .9rem .18rem;
    width: 20%;
}

.btn:hover{
    background-color: #a0b2c2;
    color: #2a384c;
    border:1px solid #f0f0f0 ;
    
}

/* footer  */
footer{
    padding: 0;
}



